.connect {
    display: flex;
}

.connect button:hover {
    cursor: pointer;
}

.full-height {
    height: 100%;
}

.auto-height {
    height: auto;
}

.right {
    margin-left: auto;
}

.center {
    margin: 0 auto;
    align-self: center;
}